.center{
  padding: 0 16px 16px 16px;
margin: 0 16px 16px 16px;
}

mat-card{
  height: 174px;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  textarea{
       background: aqua;
  }
}

.send_button{
  background: #007A5A;
  border-radius: 5px;
    &:hover{
      background: rgba(0, 122, 90, 0.8);
    }
  mat-icon{
    color: #FFF;
  }
}

.footer {
  box-sizing: border-box;
 width: 100%;
 border: 1px solid lightgray;
 display: flex;
 justify-content: flex-end;
}

.editor {
  // width: 70vw;
  width: 100%;
  padding: 16px;
  border-radius: 24px;
  border: 1px solid lightgrey;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

