.center{
  padding: 0 16px 16px 16px;

}

mat-card{
  height: 114px;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  textarea{
       background: aqua;
  }
}

footer {
  box-sizing: border-box;
 width: 100%;
 border: 1px solid lightgray;
 display: flex;
 justify-content: flex-end;
}

.ql-container {
  height: calc(100% - 42px); 
}
