<div class="flex">
  <div class="center editor">
    <quill-editor [ngStyle]="{ 'width': '100%' }" [modules]="modules" [(ngModel)]="messageText"
      placeholder="Message to {{ store.users | filterUsers: store.currentUserMessageId }}" matInput>

    </quill-editor>
    <div class="footer">
      <button [disabled]="!messageText" (click)="saveAnswerInFirestore()" id="submit" [class.send_button]="messageText"
        mat-icon-button>
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
