<div class="center">
  <div class="widht3000">



    <app-all-channel-container *ngIf="!firestore.currentChannelId && !firestore.currentUserMessageId">
    </app-all-channel-container>


    <div *ngIf="firestore.currentChannelId">

      <div class="headline">
        <mat-divider></mat-divider>
        <h2 class="thread_name">{{ firestore.currentChannelName }}</h2>
      </div>

      <div #mycontent [ngStyle]="{ 'height': 'calc(100vh - (64px + 48px + 150px))' }" class="message_content">

        <mat-divider></mat-divider>

        <div>
          <app-channel-container></app-channel-container>
        </div>

      </div>

      <div #myIdentifier class="write_message_container">
        <app-write-thread></app-write-thread>
      </div>

    </div>


    <div *ngIf="firestore.currentUserMessageId">


      <div #mycontent [ngStyle]="{ 'height': 'calc(100vh - (64px + 150px))' }" class="message_content">

        <mat-divider></mat-divider>

        <div>
          <app-message-container></app-message-container>
        </div>

      </div>

      <div #myIdentifier2 class="write_message_container">
        <app-write-message></app-write-message>
      </div>

    </div>



  </div>
</div>
