.center {
  display: flex;
  justify-content: center;
}

.widht3000 {
  // width: 5000px;
  width: 100vw;
  // background: aqua;
}

.message_content {
  // height: calc(100vh - (64px + 150px));
  overflow-y: scroll;
}

.write_message_container {
margin-top: auto;
min-height: 150px;
box-sizing: border-box;
}

.headline {
  // background-color: #FFF;
  // z-index: 2;
  border-bottom: 0.05px solid #DFDFDF;
  }


