.center{
  display: flex;
  justify-content: center;
}

.widht3000{
  // width: 5000px;
  width: 100vw;
  // background: aqua;
}

.message_content{

  .write_message_container {
    position: fixed;
    bottom: 0;
    }

}
