<div class="width280">

  <mat-divider></mat-divider>

  <div class="headline">
    <h2>WorkSpace</h2>
  </div>

  <mat-divider></mat-divider>

  <div class="side-container">

    <mat-list>

      <mat-list-item class="hoverBg">Threads</mat-list-item>
      <mat-list-item class="hoverBg">Direct messages</mat-list-item>
      <mat-list-item class="hoverBg">Mentions & Reactions</mat-list-item>
      <mat-list-item class="hoverBg">Drafts</mat-list-item>

      <mat-divider></mat-divider>

      <!-- Favorites -->

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div (mouseover)='displayFavorites = true' (mouseout)='displayFavorites = false' class="expansion_panel">
              <span>Favorites</span>
              <div [class.opacity1]="displayFavorites" class="add_panel">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="more_vert"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
              </div>
            </div>

          </mat-panel-title>
        </mat-expansion-panel-header>

        <ul>
          <li>group work</li>
        </ul>

      </mat-expansion-panel>

      <!-- Channels -->

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>

            <div (mouseover)='displayChannels = true' (mouseout)='displayChannels = false' class="expansion_panel">
              <span>Channels</span>
              <div [class.opacity1]="displayChannels" class="add_panel">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="more_vert"></mat-icon>
                <mat-icon (click)="openDialog()" aria-hidden="false" aria-label="Example home icon" fontIcon="add">
                </mat-icon>
              </div>
            </div>

          </mat-panel-title>
        </mat-expansion-panel-header>

        <ul>
          <li *ngFor="let fire of firestore.channels" (click)="setChannelId( fire.channelId, fire.channel.channelName )">
            {{ fire.channel.channelName }}
          </li>
        </ul>

      </mat-expansion-panel>

      <!-- Direct messages -->

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>

            <div (mouseover)='displayDirectMessage = true' (mouseout)='displayDirectMessage = false'
              class="expansion_panel">
              <span>Direct messages</span>
              <div [class.opacity1]="displayDirectMessage" class="add_panel">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="more_vert"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
              </div>
            </div>

          </mat-panel-title>
        </mat-expansion-panel-header>

        <ul>

          <li *ngFor="let user of firestore.users" (click)="setUserlId( user.userId )" class="user-row">

            <img src="assets/img/elephant.png" mat-card-avatar class="avatar_image">
            <span>{{ user.userName }}</span>
          </li>

        </ul>

      </mat-expansion-panel>


    </mat-list>

  </div>

</div>
