<div class="width280">

  <mat-divider></mat-divider>

  <div class="headline">
    <h2>WorkSpace</h2>
  </div>
  <mat-divider></mat-divider>

  <div class="side-container">

    <mat-list>

      <mat-list-item class="hoverBg">Threads</mat-list-item>
      <mat-list-item class="hoverBg">Direct messages</mat-list-item>
      <mat-list-item class="hoverBg">Mentions & Reactions</mat-list-item>
      <mat-list-item class="hoverBg">Drafts</mat-list-item>
      <mat-divider></mat-divider>


      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div (mouseover)='displayAddPanle1 = true' (mouseout)='displayAddPanle1 = false' class="expansion_panel">
              <span>Favorites</span>
              <div [class.opacity1]="displayAddPanle1" class="add_panel">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="more_vert"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
              </div>
            </div>

          </mat-panel-title>
        </mat-expansion-panel-header>

        <ul>
          <li>group work</li>
        </ul>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>

            <div (mouseover)='displayAddPanle2 = true' (mouseout)='displayAddPanle2 = false' class="expansion_panel">
              <span>Channels</span>
              <div [class.opacity1]="displayAddPanle2" class="add_panel">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="more_vert"></mat-icon>
                <mat-icon (click)="openDialog()" aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
              </div>
            </div>

          </mat-panel-title>
        </mat-expansion-panel-header>

        <ul>
          <li *ngFor="let fire of firebase.channels">{{ fire.channel.channelName }}</li>
        </ul>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>

            <div (mouseover)='displayAddPanle3 = true' (mouseout)='displayAddPanle3 = false' class="expansion_panel">
              <span>Direct messages</span>
              <div [class.opacity1]="displayAddPanle3" class="add_panel">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="more_vert"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
              </div>
            </div>

          </mat-panel-title>
        </mat-expansion-panel-header>

        <ul>

          <li class="user-row">

            <img src="assets/img/elephant.png" mat-card-avatar class="avatar_image">
            <span>Tony</span>
          </li>

          <li class="user-row">
            <img src="assets/img/panda.png" mat-card-avatar class="avatar_image">
            <span>Jürgen</span>
          </li>

        </ul>

      </mat-expansion-panel>


    </mat-list>

  </div>

</div>
