

<div class="headline">
  <h2>Jürgen Rogozin</h2>
</div>
<mat-divider></mat-divider>
  <mat-list>

    <mat-list-item >

      <mat-card class="message_card">
        <mat-card-header>
          <img src="assets/img/elephant.png" mat-card-avatar class="avatar_image">
          <mat-card-title><h3>Tony Schroeder</h3><span class="time">Yesterday at 3:30 pm</span></mat-card-title>
          <mat-card-subtitle>{{ store.message[0].messages[0] }}</mat-card-subtitle>
        </mat-card-header>

      </mat-card>

    </mat-list-item>


    <mat-list-item >

      <mat-card class="message_card">
        <mat-card-header>
          <img src="assets/img/panda.png" mat-card-avatar class="avatar_image">
          <mat-card-title><h3>Jürgen Rogozin</h3><span class="time">Yesterday at 3:30 pm</span></mat-card-title>
          <mat-card-subtitle>{{ store.message[0].messages[1] }}</mat-card-subtitle>
        </mat-card-header>

      </mat-card>

    </mat-list-item>


    <mat-list-item >

      <mat-card class="message_card">
        <mat-card-header>
          <img src="assets/img/elephant.png" mat-card-avatar class="avatar_image">
          <mat-card-title><h3>Tony Schroeder</h3><span class="time">Yesterday at 3:30 pm</span></mat-card-title>
          <mat-card-subtitle>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non, eaque. Sapiente saepe similique veniam voluptatem ratione doloremque expedita esse blanditiis obcaecati corporis. Dicta ullam nulla fugiat quaerat illum officia beatae.</mat-card-subtitle>
        </mat-card-header>

      </mat-card>

    </mat-list-item>


  </mat-list>
