<mat-toolbar color="primary">
  <div class="left_header">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </div>


</mat-toolbar>


<mat-drawer-container class="example-container" autosize>

  <mat-list>
    <mat-list-item>
      <h2>WorkSpace</h2>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Threads</mat-list-item>
    <mat-list-item>Direct messages</mat-list-item>
    <mat-list-item>Mentions & Reactions</mat-list-item>
    <mat-list-item>Drafts</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      Favoritens

    </mat-list-item>
    <mat-list-item>Channels</mat-list-item>
    <mat-list-item>Direct messages</mat-list-item>
  </mat-list>

</mat-drawer-container>
