
.left_header{
  width: calc(280px - 16px);
}

.header_spacer {
  flex: 1 1 auto;
}


.side_nav {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
}

.example-container {
  width: 280px;
  height: calc(100vh - 64px);
  // background: aqua;
  h2{
    margin: 0;
  }
}

// .example-headers-align .mat-expansion-panel-header-description {
//   justify-content: space-between;
//   align-items: center;
// }

// .example-headers-align .mat-form-field + .mat-form-field {
//   margin-left: 8px;
// }
