<mat-dialog-content>

  <h2>Delete message</h2>
  <p>Are you sure you want to delete this message? This cannot be undone.</p>

  <mat-card *ngFor="let answer of store.answers | filterAnswers:answerId" class="message_card">
    <mat-card-header>
      <div mat-card-avatar class="avatar_image">{{ store.users | filterInitialen:answer.answer.usersId }}</div>
      <mat-card-title>

        <h3>{{ store.users | filterUsers:answer.answer.usersId }}</h3>
        <span class="time">{{ answer.answer.timestamp | date: 'E, dd MM, h:mm a' }}</span>

      </mat-card-title>
      <mat-card-subtitle>{{ answer.answer.messageText }}</mat-card-subtitle>
    </mat-card-header>

  </mat-card>

</mat-dialog-content>

<mat-dialog-actions class="button_container">

  <button mat-raised-button mat-dialog-close>cancel</button>
  <button mat-raised-button (click)="deleteConfirm()" color="warn">delete</button>

</mat-dialog-actions>


