.button_container {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 16px;

}

.mat-card-avatar {
  height: 24px;
  width: 24px;
  border-radius: 5px;
  font-size: 12px;
}

mat-card-title {
  display: flex;
  align-items: center;
  gap: 16px;

  h3{
    margin: 0;
  }

  span {
    font-size: 12px;
  }
  mat-card-subtitle{
    font-weight: 600;
  }
}
