<mat-list>

  <mat-list-item>

    <mat-card class="message_card">
      <mat-card-header>
        <img src="assets/img/elephant.png" mat-card-avatar class="avatar_image">
        <mat-card-title>
          <h3>Tony Schroeder</h3><span class="time">Yesterday at 3:30 pm</span>
        </mat-card-title>
        <mat-card-subtitle>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, ratione veritatis sunt ea
          quibusdam explicabo voluptatibus omnis earum at, totam commodi distinctio dignissimos, magnam dolorem culpa
          saepe perferendis fuga deserunt.</mat-card-subtitle>
      </mat-card-header>

    </mat-card>

  </mat-list-item>


  <mat-list-item>

    <mat-card class="message_card">
      <mat-card-header>
        <img src="assets/img/panda.png" mat-card-avatar class="avatar_image">
        <mat-card-title>
          <h3>Jürgen Rogozin</h3><span class="time">Yesterday at 3:30 pm</span>
        </mat-card-title>
        <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quasi minus odit, voluptas
          nihil ea quod aut culpa earum cum quas fugiat at dicta cupiditate nisi? Ab fugit soluta adipisci!
        </mat-card-subtitle>
      </mat-card-header>

    </mat-card>

  </mat-list-item>


  <mat-list-item>

    <mat-card class="message_card">
      <mat-card-header>
        <img src="assets/img/elephant.png" mat-card-avatar class="avatar_image">
        <mat-card-title>
          <h3>Tony Schroeder</h3><span class="time">Yesterday at 3:30 pm</span>
        </mat-card-title>
        <mat-card-subtitle>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non, eaque. Sapiente saepe
          similique veniam voluptatem ratione doloremque expedita esse blanditiis obcaecati corporis. Dicta ullam nulla
          fugiat quaerat illum officia beatae.</mat-card-subtitle>
      </mat-card-header>

    </mat-card>

  </mat-list-item>

  <mat-list-item>

    <mat-card class="message_card">
      <mat-card-header>
        <img src="assets/img/elephant.png" mat-card-avatar class="avatar_image">
        <mat-card-title>
          <h3>Tony Schroeder</h3><span class="time">Yesterday at 3:30 pm</span>
        </mat-card-title>
        <mat-card-subtitle>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, ratione veritatis sunt ea
          quibusdam explicabo voluptatibus omnis earum at, totam commodi distinctio dignissimos, magnam dolorem culpa
          saepe perferendis fuga deserunt.</mat-card-subtitle>
      </mat-card-header>

    </mat-card>

  </mat-list-item>


  <mat-list-item>

    <mat-card class="message_card">
      <mat-card-header>
        <img src="assets/img/panda.png" mat-card-avatar class="avatar_image">
        <mat-card-title>
          <h3>Jürgen Rogozin</h3><span class="time">Yesterday at 3:30 pm</span>
        </mat-card-title>
        <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quasi minus odit, voluptas
          nihil ea quod aut culpa earum cum quas fugiat at dicta cupiditate nisi? Ab fugit soluta adipisci!
        </mat-card-subtitle>
      </mat-card-header>

    </mat-card>

  </mat-list-item>


  <mat-list-item>

    <mat-card class="message_card">
      <mat-card-header>
        <img src="assets/img/elephant.png" mat-card-avatar class="avatar_image">
        <mat-card-title>
          <h3>Tony Schroeder</h3><span class="time">Yesterday at 3:30 pm</span>
        </mat-card-title>
        <mat-card-subtitle>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non, eaque. Sapiente saepe
          similique veniam voluptatem ratione doloremque expedita esse blanditiis obcaecati corporis. Dicta ullam nulla
          fugiat quaerat illum officia beatae.</mat-card-subtitle>
      </mat-card-header>

    </mat-card>

  </mat-list-item>

  <mat-list-item>

    <mat-card class="message_card">
      <mat-card-header>
        <img src="assets/img/elephant.png" mat-card-avatar class="avatar_image">
        <mat-card-title>
          <h3>Tony Schroeder</h3><span class="time">Yesterday at 3:30 pm</span>
        </mat-card-title>
        <mat-card-subtitle>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, ratione veritatis sunt ea
          quibusdam explicabo voluptatibus omnis earum at, totam commodi distinctio dignissimos, magnam dolorem culpa
          saepe perferendis fuga deserunt.</mat-card-subtitle>
      </mat-card-header>

    </mat-card>

  </mat-list-item>


  <mat-list-item>

    <mat-card class="message_card">
      <mat-card-header>
        <img src="assets/img/panda.png" mat-card-avatar class="avatar_image">
        <mat-card-title>
          <h3>Jürgen Rogozin</h3><span class="time">Yesterday at 3:30 pm</span>
        </mat-card-title>
        <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quasi minus odit, voluptas
          nihil ea quod aut culpa earum cum quas fugiat at dicta cupiditate nisi? Ab fugit soluta adipisci!
        </mat-card-subtitle>
      </mat-card-header>

    </mat-card>

  </mat-list-item>


  <mat-list-item>

    <mat-card class="message_card">
      <mat-card-header>
        <img src="assets/img/elephant.png" mat-card-avatar class="avatar_image">
        <mat-card-title>
          <h3>Tony Schroeder</h3><span class="time">Yesterday at 3:30 pm</span>
        </mat-card-title>
        <mat-card-subtitle>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non, eaque. Sapiente saepe
          similique veniam voluptatem ratione doloremque expedita esse blanditiis obcaecati corporis. Dicta ullam nulla
          fugiat quaerat illum officia beatae.</mat-card-subtitle>
      </mat-card-header>

    </mat-card>

  </mat-list-item>

  <mat-list-item>

    <mat-card class="message_card">
      <mat-card-header>
        <img src="assets/img/elephant.png" mat-card-avatar class="avatar_image">
        <mat-card-title>
          <h3>Tony Schroeder</h3><span class="time">Yesterday at 3:30 pm</span>
        </mat-card-title>
        <mat-card-subtitle>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, ratione veritatis sunt ea
          quibusdam explicabo voluptatibus omnis earum at, totam commodi distinctio dignissimos, magnam dolorem culpa
          saepe perferendis fuga deserunt.</mat-card-subtitle>
      </mat-card-header>

    </mat-card>

  </mat-list-item>


  <mat-list-item>

    <mat-card class="message_card">
      <mat-card-header>
        <img src="assets/img/panda.png" mat-card-avatar class="avatar_image">
        <mat-card-title>
          <h3>Jürgen Rogozin</h3><span class="time">Yesterday at 3:30 pm</span>
        </mat-card-title>
        <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quasi minus odit, voluptas
          nihil ea quod aut culpa earum cum quas fugiat at dicta cupiditate nisi? Ab fugit soluta adipisci!
        </mat-card-subtitle>
      </mat-card-header>

    </mat-card>

  </mat-list-item>


  <mat-list-item>

    <mat-card class="message_card">
      <mat-card-header>
        <img src="assets/img/elephant.png" mat-card-avatar class="avatar_image">
        <mat-card-title>
          <h3>Tony Schroeder</h3><span class="time">Yesterday at 3:30 pm</span>
        </mat-card-title>
        <mat-card-subtitle>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non, eaque. Sapiente saepe
          similique veniam voluptatem ratione doloremque expedita esse blanditiis obcaecati corporis. Dicta ullam nulla
          fugiat quaerat illum officia beatae.</mat-card-subtitle>
      </mat-card-header>

    </mat-card>

  </mat-list-item>


</mat-list>

<div #anger ></div>
