<mat-list>

  <mat-list-item *ngFor="let message of store.messages | filterMessageInterlocutor:store.currentUserMessageId :store.loggedInUserId; trackBy: store.trackByMessage">

    <mat-card class="message_card">
      <mat-card-header>
        <div mat-card-avatar class="avatar_image">{{ store.users | filterInitialen:message.autorUser }}</div>
        <mat-card-title>
          <h3>{{ store.users | filterUsers:message.autorUser }}</h3><span class="time">{{ message.message.timestamp | date: 'E, dd MM, h:mm a'  }}</span>
        </mat-card-title>
        <mat-card-subtitle>{{ message.message.messageText }}</mat-card-subtitle>
      </mat-card-header>

    </mat-card>

  </mat-list-item>





</mat-list>
