.thread_name {
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.stickyBg {
  background-color: #FFFFFF;
  z-index: 2;
  position: sticky;
  border-bottom: 0.5px solid #DCDCDC;
  top: 0;
}

.afterMenu_button {
  &:hover {
    background-color: #1164A3;
    color: #FFFFFF;
  }
}

.opacity1 {
  opacity: 1 !important;
}

mat-list-item {
  position: relative;

  // &:hover {
  //   background-color: #F8F8F8;
  // }

  .edit_message {
    opacity: 0;
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, .05);

    &:hover {
      opacity: 1;
    }
  }
}


mat-card-title {
  display: flex;
  align-items: center;
  gap: 10px;

  h3 {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
  }

  span {
    font-size: 12px;
    color: rgba(0, 0, 0, .4);
  }
}

.mat-card-avatar {
  border-radius: 5px;

}

.mat-list-base {
  padding-top: 0;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  height: auto;
}

.message_card {
  border: none;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  padding-top: 16px;
  margin: 0;
}


.button_container {
  display: flex;
  // justify-content: end;
  gap: 16px;

  button {
    min-width: 78px;
  }
}

mat-card {
  width: 100% !important;
}

.mat-card-header-text {
  width: 100% !important;
}

.edit_message_field {

  min-height: 114px;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  textarea {

    background: aqua;
  }
}

.hover_background {
  &:hover {
    background-color: #F8F8F8;
  }
}

.edit_background {
  background: #FCF4DA;
}

.footer {
  box-sizing: border-box;
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  padding-bottom: 5px;

  button {
    background-color: #FFF;
  }
}
