.card-container {
    display: flex;
    flex-direction: column;
}

.login-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        width: 50%;
        margin: 0 12px 0 12px;
    }
}

mat-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}