<div class="main">
    <mat-card>
        <h2>SingUp</h2>
        <div class="card-container">
            <!-- Username Input -->
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput>
            </mat-form-field>
            <!-- Email Input -->
            <mat-form-field appearance="outline">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="user@example.com" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <!-- Password Input -->
            <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <!-- Buttons -->
            <div class="login-btn">
                <button mat-raised-button color="warn" routerLink="">Back</button>
                <button mat-raised-button color="primary" routerLink="/slack">Sign-Up</button>
            </div>
        </div>
        

    </mat-card>
</div>