<mat-list-item *ngFor="let channel of store.channels" class="cursor_pointer"  (click)="setChannelId( channel.channelId, channel.channel.channelName )">

  <mat-card class="message_card">
    <mat-card-header>
      <mat-card-title><h3>{{ channel.channel.channelName }}</h3></mat-card-title>
      <mat-card-subtitle><span>179 members</span>&nbsp;&nbsp;·&nbsp;&nbsp;<span>{{ channel.channel.ChannelDescription }}</span></mat-card-subtitle>
    </mat-card-header>

  </mat-card>

  <mat-divider></mat-divider>
</mat-list-item>

