<div class="width280">
  <div class="headline">
    <h2>Thread</h2>
    <span class="thread_name">angular</span>
  </div>
  <mat-divider></mat-divider>
  <div class="message_container">
    <mat-list>

      <mat-list-item >

        <mat-card class="message_card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet sunt et atque aliquid veritatis earum itaque dicta ab voluptate officiis ex, sed aut! Quaerat laboriosam nisi recusandae, aliquid assumenda veniam.</mat-card-subtitle>
          </mat-card-header>

        </mat-card>

      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item >

        <mat-card class="message_card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla repudiandae dolorum accusamus deserunt provident consequatur unde architecto excepturi libero, similique eos quas ut omnis hic dicta facere dolor quia est?</mat-card-subtitle>
          </mat-card-header>

        </mat-card>

      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item >

        <mat-card class="message_card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non, eaque. Sapiente saepe similique veniam voluptatem ratione doloremque expedita esse blanditiis obcaecati corporis. Dicta ullam nulla fugiat quaerat illum officia beatae.</mat-card-subtitle>
          </mat-card-header>

        </mat-card>

      </mat-list-item>
      <mat-divider></mat-divider>

    </mat-list>
  </div>

</div>
