<div class="width400">

  <!-- thread with answer -->
  <div *ngIf="!store.currentSelectUser">

    <div class="headline">
      <h2 class="thread_name">Thread</h2>&nbsp;&nbsp;<span>{{ store.channels | filterChannelname: store.currentChannelIdForThread
        }}</span>

      <button (click)="closeSideBar()" class="closeBtn">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close"></mat-icon>
      </button>
    </div>

    <div class="message_container">

      <div [ngStyle]="{'height': 'calc(100vh - (64px + 48px + 210px))'}" class="message_content">

        <app-thread-container></app-thread-container>

      </div>

      <div #myIdentifier class="write_message_container">
        <app-write-message (newItemEvent)="addItem($event)"></app-write-message>
      </div>
    </div>

  </div>

  <!-- user details -->
  <!-- <div *ngIf="store.currentSelectUser">

    <div class="headline">
      <h2 class="thread_name">Profile</h2>

      <button (click)="closeSideBar()" class="closeBtn">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close"></mat-icon>
      </button>
    </div>

    <app-user-details></app-user-details>

  </div> -->

</div>
