<mat-list>

  <!-- firstmessage -->
  <mat-list-item>

    <mat-card *ngFor="let thread of store.threads | filterSelectThread: this.store.currentThreadId; let i = index"
      class="message_card" (mouseover)="displayEditMenu = i" (mouseleave)="displayEditMenu = -1">
      <mat-card-header>

        <!-- menu -->
        <div class="edit_message" [class.opacity1]="displayEditMenu == i" >
          <button mat-button [matMenuTriggerFor]="afterMenu">
            <mat-icon fontIcon="more_vert"></mat-icon>
          </button>
        </div>

        <mat-menu #afterMenu="matMenu" xPosition="after">
          <button class="afterMenu_button" (click)="editMessage('editThread')" mat-menu-item>
            edit message
          </button>
          <button class="afterMenu_button" (click)="openThreadDialog(thread.currentThreadId)" mat-button color="warn">
            delete message
          </button>
        </mat-menu>

        <div mat-card-avatar class="avatar_image">{{ store.users | filterInitialen:thread.thread.usersId }}</div>
        <mat-card-title>
          <h3>{{ store.users | filterUsers: thread.thread.usersId }}</h3><span class="time">{{ thread.thread.timestamp |
            date: 'E, dd MM, h:mm a' }}</span>
        </mat-card-title>
        <mat-card-subtitle [innerHTML]="thread.thread.messageText"> {{ thread.thread.messageText }}</mat-card-subtitle>

      </mat-card-header>

    </mat-card>

  </mat-list-item>

  <mat-divider></mat-divider>

  <!-- answers -->
  <mat-list-item
    *ngFor="let answer of store.answers | filterAnswers: store.currentThreadId; trackBy: store.trackByAnswer; let i = index">


    <!-- menu -->
    <div class="edit_message">
      <button mat-button [matMenuTriggerFor]="afterMenu">
        <mat-icon fontIcon="more_vert"></mat-icon>
      </button>
    </div>

    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button class="afterMenu_button" (click)="editMessage(i)" mat-menu-item>
        edit message
      </button>
      <button class="afterMenu_button" (click)="openAnswerDialog(answer.currentAnswerId)" mat-button color="warn">
        delete message
      </button>
    </mat-menu>


    <mat-card class="message_card">
      <mat-card-header>

        <div mat-card-avatar class="avatar_image">{{ store.users | filterInitialen:answer.answer.usersId }}</div>

        <mat-card-title>
          <h3>{{ store.users | filterUsers:answer.answer.usersId }}</h3><span class="time">{{ answer.answer.timestamp |
            date: 'E, dd MM, h:mm a' }}</span>
        </mat-card-title>

        <mat-card-subtitle [innerHTML]="answer.answer.messageText">{{ answer.answer.messageText }}</mat-card-subtitle>

          <!-- edit message -->

          <div class="flex">
            <div class="center editor" *ngIf="messageToEdit === i" class="edit_message_container">
              <quill-editor [ngStyle]="{ 'width': '100%' }" [modules]="modules"   [(ngModel)]="answer.answer.messageText"
                matInput>
              </quill-editor>
              <div class="footer">
                <button mat-stroked-button (click)="editMessage('')">Cancel</button>
                <button mat-stroked-button (click)="saveEditMessage(answer.currentAnswerId)"
                  color="primary">Save</button>
              </div>
            </div>
          </div>


      </mat-card-header>

    </mat-card>

  </mat-list-item>

</mat-list>
