  <mat-list>

    <mat-list-item >

      <mat-card *ngFor="let thread of store.threads | filterSelectThread: this.store.currentThreadId" class="message_card">
        <mat-card-header>
          <img src="assets/img/panda.png" mat-card-avatar class="avatar_image">
          <mat-card-title><h3>{{ store.users | filterUsers: thread.thread.usersId }}</h3><span class="time">{{ thread.thread.timestamp | date: 'EEEE, MMMM d, h:mm a'  }}</span></mat-card-title>
          <mat-card-subtitle>{{ thread.thread.firstMessage }}</mat-card-subtitle>
        </mat-card-header>

      </mat-card>

    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item *ngFor="let answer of store.answers | filterAnswers: store.currentThreadId" >

      <mat-card class="message_card">
        <mat-card-header>
          <img src="assets/img/elephant.png" mat-card-avatar class="avatar_image">
          <mat-card-title><h3>{{ store.users | filterUsers:answer.answer.usersId }}</h3><span class="time">{{ answer.answer.timestamp |  date: 'EEEE,
            MMMM d, h:mm a' }}</span></mat-card-title>
          <mat-card-subtitle>{{ answer.answer.messageText }}</mat-card-subtitle>
        </mat-card-header>

      </mat-card>

    </mat-list-item>



  </mat-list>

